.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5%;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  font-style: italic;
}
#numero{
  margin: 1%;
	background: rgb(249, 247, 246);
	text-align: center;
	font-size: 1.5em;
  width: 50%;
}
#btn{
  margin: 1%;
	background: rgb(249, 247, 246);
	text-align: center;
	font-size: 1.5em;
  width: 15%;
  font-style: italic;
  cursor: pointer;
}







